<!DOCTYPE html>
<!-- Yesterday -->
<html>
  <head>
    <title>Free Software/Coding Academy</title>
    <%- include('../components/style') %>
  </head>

  <body>
    <%- include('../components/nav', { session: session }) %>

    <section>
      <div class="container">
        <div class="row mb-5">
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#newProject">New Project</a>
        </div>
        <div class="row">
          <% for(var i = 0; i < project.length; i++ ) { %>
          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
              <div class="card-header text-center">
                <div><p><%= project[i].title %></p></div>
              </div>
              <div class="card-body">
                <div><p><%= project[i].content %></p></div>
                <div class="text-small text-muted">Created at: <%= project[i].createdAt %></div>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="gutter">
                  <a href="#" class="mr-2 open-AddBookDialog" data-id="<%= project[i].id %>">Update</a>
                  <!-- Pass data pergi ke route -> controller -->
                    <a href="/project/delete/<%= project[i].id %>">Delete</a>
                </div>
                <div class="text-small text-muted"><%= project[i].updatedAt %></div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    
    <!-- New Project Modal -->
    <div class="modal fade" id="newProject" tabindex="-1" aria-labelledby="newProjectLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newProjectLabel">Project Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Data akan dihantar -> routes -> controller -->
          <form action="/project" method="POST">
            <div class="modal-body">
              <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title"/>
              </div>
              <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="3" name="content"></textarea>
              </div>
              <div class="form-group">
                <label>Team Member</label>
                <select class="form-control" name="team">
                  <option selected>Open this select menu</option>
                  <option value="1">Team A</option>
                  <option value="2">Team B</option>
                  <option value="3">Team C</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End New Project Modal -->

    <!-- Update Journal Modal -->
    <div class="modal fade" id="updateJournal" tabindex="-1" aria-labelledby="updateJournalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateJournalLabel">Journal Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/project/update" method="POST">
            <div class="modal-body">
              <!-- name=id sbb kat backend kita hantar id -->
              <input type="text" name="id" id="journalID" value="">
              <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title"/>
              </div>
              <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="3" name="content"></textarea>
              </div>
              <div class="form-group">
                <label>Team Member</label>
                <select class="form-control" name="team">
                  <option selected>Open this select menu</option>
                  <option value="1">Team A</option>
                  <option value="2">Team B</option>
                  <option value="3">Team C</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End Update Journal Modal -->
		
    <%- include('../components/footer') %>
    <%- include('../components/script') %>

    <script>
      /* # - refer to id
         . - refer to class */
      $(document).on("click", ".open-AddBookDialog", function(){
        var myJournalID = $(this).data('id');
        $(".modal-body #journalID").val(myJournalID);
        $('#updateJournal').modal('show');
      });
    </script>

  </body>

</html>
