<!DOCTYPE html>
<!-- Yesterday -->
<html>
  <head>
    <title>Free Software/Coding Academy</title>
    <%- include('./components/style') %>
  </head>

  <body>
    <%- include('./components/nav', { session: session }) %>

    <section>
      <div class="container">
				<div class="row mb-5">
					<a href="" class="btn btn-primary" data-toggle="modal" data-target="#newSubject">New Subject</a>
				</div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < subject.length; i++) { %>
              <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= subject[i].name %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    
    <!-- New Subject Modal -->
    <div class="modal fade" id="newSubject" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Subject Registration</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="subject" method="POST">
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name"/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End New Subject Modal -->

    <!-- Assign Student To Subject Modal -->
    <div class="modal fade" id="" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Student To Subject Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="POST">
                <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="name"/>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- End Assign Student To Subject Modal -->
		
    <%- include('./components/footer') %>
    <%- include('./components/script') %>

  </body>

</html>
