<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Free Software/Coding Academy</title>
    <%- include('../components/style') %>
  </head>

  <body>
    <%- include('../components/nav', { session: session }) %>
    <section>
      <div class="container">
        <input class="form-control form-control-lg h-100 mb-2 mb-md-0 mr-md-3" name="help-search" placeholder="Search" type="search"
        id="myInput" onkeyup="myFunction()">
        <br>
				<div class="row mb-5">
  					<a href="" class="btn btn-primary" data-toggle="modal" data-target="#newStudent">New Student</a>
				</div>
        <div class="row">
          <table id="myTable">
            <tr class="header">
              <th style="width:25%;">Name</th>
              <th style="width:45%;">Lecture</th>
              <th style="width:30%;">Delete</th>

          <% for(var i = 0; i < student.length; i++ ) { %>
              <tr>
                <td><%= student[i].name %></td>
                <!-- <td><%= student[i].topic %></td> -->
                <td><a href="#" onclick="return false;" class="mr-2 open-AddBookDialog1" data-id="<%= student[i].id %>">Enroll</a></td>
                <td><a href="/student/delete/<%= student[i].id %>" data-confirm="Are you sure you want to delete ?">Delete</a></td>
              </tr>
          <% } %>
        </table>
        </div>
      </div>
    </section>
    
    <div class="modal fade" id="updateStudent" tabindex="-1" role="dialog" aria-labelledby="updateStudentLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateStudentLabel">Student Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/student/update" method="POST">
            <div class="modal-body">
              <input type="hidden" name="id" id="StudentID" value=""/>
              <div class="form-group">
                <label>Course</label>
                <input class="form-control" id="course" name="course">
              </div>
              <div class="form-group">
                <label>Topic</label>
                <input class="form-control" id="topic" name="topic">
              </div>
              <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="18" id="content" name="content"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>    
   
    <div class="modal fade" id="newStudent" tabindex="-1" aria-labelledby="newStudentLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newStudentLabel">Student Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/student" method="POST">
            <div class="modal-body">

              <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name"/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Many to many relationship Student Modal -->
<div class="modal fade" id="assignStudent" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Student To Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/notes/assign" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" id="modalStudentId" value=""/>
            <label>Notes</label>
            <select class="custom-select" name="NotesId">
              <option selected>Open this select menu</option>
              <% for(var x = 0; x < notes.length; x++ ) { %>
                <option value="<%= notes[x].id %>"><%= notes[x].course %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit">Enroll</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End many to many relationship Student Modal -->
    
		<%- include('../components/footer') %>
    <%- include('../components/script') %>
</body>

<script>

$(document).on("click", ".open-AddBookDialog1", function () {
       var id = $(this).data('id');

       $("#modalStudentId").val( id );

       // As pointed out in comments, 
       // it is unnecessary to have to manually call the modal.
       $('#assignStudent').modal('show');

       e.preventDefault()
    });
</script>

<script>
  
  $(document).on("click", ".open-AddBookDialog", function () {
       var studentID = $(this).data('id');

       $("#studentID").val( studentID );

       // As pointed out in comments, 
       // it is unnecessary to have to manually call the modal.
       $('#updateStudent').modal('show');
    });

  $(document).ready(function() {
	$('a[data-confirm]').click(function(ev) {
		var href = $(this).attr('href');
		if (!$('#dataConfirmModal').length) {
    $('body').append('<div id="dataConfirmModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog modal-dialog-delete"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Please Confirm</h3></div><div class="modal-body"></div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">Confirm</a></div></div></div></div>');
		} 
		$('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
		$('#dataConfirmOK').attr('href', href);
		$('#dataConfirmModal').modal({show:true});
		return false;
	});
});

function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }



  $('#newNotes').on('hidden.bs.modal', function () {
    $(this).find("input,textarea,select").val('');

});

</script>

</html>
