<!DOCTYPE html>
<html>
  <head>
    <title>Free Software/Coding Academy</title>
    <%- include('../components/style') %>
  </head>

  <body>
    <%- include('../components/nav', { session: session }) %>

    <section>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Featured
        </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Degree Level</li>
              <li class="list-group-item">Class Type</li>
              <li class="list-group-item">Faculty</li>
              <li class="list-group-item">View</li>
            </ul>


            <% for(var i=0, i< course.length; i++){ %>
              <tr>
                <td><%- course[i].title %> </td>
                <td><%- course[i].content %> </td>
                <td><a href="/course" class="mr-2">View</a></td>
                <td><a href="/course" class="mr-2">Edit</a></td>
                  <a href="/course/delete/<%- course[i].id %">Delete</a></td>
              </tr>


        <% } %>
        </div>

    </section>




  </body>

</html>
